.login-body {
	background-color: #000;
}

.login-console {
	font-size: 18px;
	font-weight: bold;
	padding-top: 200px;
	text-align: center;
	color: #FFF;
}

.login-header {
	font-size: 30px;
	margin-bottom: 20px;
}

.login-header span {
	color: #000000;
}

.login-input {
	display: inline;
	width: 300px;
}

.login-btn {
	width: 300px;
}