.login-body {
	background-color: #000;
	background: url(../../images/loginbg2.jpg) no-repeat;
    background-size: cover;
}

.login-pos {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
}

.login-console {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 400px;
	height: 200px;
	padding: 30px 0;
	border: 1px solid #DBDBDD;
	background-color: rgba(255, 255, 255, 0.8);
}

.login-header {
	font-size: 60px;
	margin-bottom: 20px;
	text-align: center;
	color: #FFF;
	padding: 10px 0;
}

.login-header p {
	font-size: 20px;
	margin: 0;
}

.login-header span {
	color: #000000;
}

.footer {
	width: 100%;
	text-align: center;
	color: #FFF;
	position: fixed;
	bottom: 10px;
}

.footer a {
	color: #FFF;
}

.login-input {
	display: inline;
	width: 300px;
}

.login-btn {
	width: 300px;
}