@CHARSET "UTF-8";
.transfer-label {
}

.transfer-label img {
	width:40px;
}

.upload-container {
	min-height:400px;
	max-height:400px;
	overflow-y:auto;
}

.upload-block {
	width:100px;
	border:1px solid #E3E3E3;
	border-radius:1px;
	padding:10px;
	margin:10px;
	float:left;
}

.upload-block img {
	width:100%;
}

.upload-block p {
	margin:0;
}

.upload-bar {
	margin-bottom:5px;
	height:5px;
	border-radius:0;
}

.upload-remove {
	float:right;
	margin-bottom:-15px;
	color:#D9534F;
}

.upload-remove:hover {
	cursor:pointer;
}